<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Chapter 5</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white position-fixed navbar-custom" style="z-index: 1;">
        <img class="logo-navbar ms-4" src="/images/logo-navbar.png">
        <button class="navbar navbar-toggler-icon logo-menu" style="background-color: transparent;"></button>
        <form class="d-flex ms-auto mx-4" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="border-radius: 1;">
            <button class="btn" type="submit" style="border-radius: 1; border: 1px solid #0D28A6;">Search</button>
        </form>
        <img src="images/a.png" class="rounded-circle" width="3%">&nbsp; Astri Budiarti
        <div class="nav-item dropdown-center" style="list-style: none;">
            <ul class="dropdown-menu me-5">
              <li><a class="dropdown-item" href="#">Profil</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
       
    </nav>
</body>
</html>